.thread-div {
    cursor: pointer;
}

.thread-picture {
    display: inline-block;
    height: 100px;
}

.thread-picture > img {
    width: auto;
    height: 100%;
}

.thread-text {
    display: inline-block;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.text-small {
    font-size: 0.9rem;
}

#threads-box {
    height: 650px;
    overflow-y: scroll;
}