<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
  <a class="navbar-brand"><h2><i class="fa fa-users"></i>  PeopleS</h2></a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div class="mr-auto">
    </div>
    <form class="form-inline my-2 my-lg-0" *ngIf="!logged">
      <input class="form-control mr-sm-2" type="text" placeholder="Email" [(ngModel)]="model.Email" name="Email">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" [(ngModel)]="model.Password" name="Password">
      <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="login()">Login</button>
    </form>
  </div>

  <div class="inline my-2 my-lg-0"*ngIf="logged">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" (click)="toProfile()"><i class="fa fa-edit"></i> My profile</button>
      <button type="button" class="btn btn-secondary"><i class="fa fa-comment"></i></button>
      <button type="button" class="btn btn-secondary"><i class="fa fa-user"></i></button>
      <button type="button" class="btn btn-secondary" (click)="toSearch()"><i class="fa fa-search"></i></button>
    
      <div class="btn-group" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-animated"><span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
            role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" routerLink="edit-profile">Edit profile</a></li>
          <li role="menuitem"><a class="dropdown-item">Another action</a>
          </li>
          <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

</nav>