<div class="container-fluid mt-5">
<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    <div class="card p-3">
      <div class="e-navlist e-navlist--active-bg">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link px-2 active" (click)="toMain()"><span>Main informations</span></a></li>
          <li class="nav-item"><a class="nav-link px-2 active" (click)="toChangePassword()"><span>Change Password</span></a></li>
          <li class="nav-item"><a class="nav-link px-2 active" (click)="toChangeDate()"><span>Change date of birth</span></a></li>
          <li class="nav-item"><a class="nav-link px-2 active" (click)="toMoreInformations()"><span>More personal informations</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px; height: 140px">
                    <img src="{{user.photoUrl}}" alt="" style="width: 140px; height: 140px; object-fit: cover;">
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.name}} {{user.surname}}</h4>
                    <p class="mb-0">{{user.email}}</p>
                  </div>
                </div>
              </div>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" [formGroup]="emailForm">
                    <div class="row" id="main">
                      <div class="col mb-4">
                        <div class="row">
                          <div class="col">
                              <label>Email</label>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <input class="form-control" type="text" placeholder="user@example.com" formControlName="email">
                                </div>
                              </div>
                              <div class="col">
                                <button class="btn btn-primary">Change Email</button>
                              </div>
                            </div>
                            <div class="row" *ngIf="emailForm.dirty">
                              <div class="alert alert-info col text-center">
                                <p class="mb-0">You've changed the email. Click button to apply</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row" id="photo">
                    <div class="col mb-4">
                      <div class="row photo-form">
                        <h4>Change Photo</h4>             
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th>Size</th>
                                <th>Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of uploader.queue">
                                <td><strong>{{ item?.file?.name }}</strong></td>
                                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                <td *ngIf="uploader.options.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs"
                                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs"
                                            (click)="item.cancel()" [disabled]="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs"
                                            (click)="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div ng2FileDrop
                            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                            (fileOver)="fileOverBase($event)"
                            [uploader]="uploader"
                            class="card bg-faded p-3 text-center mb-3 drop-zone">
                           <i class="fa fa-upload fa-3x"></i>
                           Drop photo here
                            </div>
                          </div>
                          <div class="row">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <form class="form" [formGroup]="passwordForm">
                    <div class="row" id="password">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><h4>Change Password</h4></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Current Password</label>
                              <input class="form-control" type="password" placeholder="••••••" formControlName="oldPassword">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              <input class="form-control" type="password" placeholder="••••••" formControlName="password">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                              <input class="form-control" type="password" placeholder="••••••" formControlName="confirmPassword"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit" [disabled]="!passwordForm.valid" (click)="changePassword()" >Change Password</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="passwordForm.dirty">
                      <div class="alert alert-info col mt-3 text-center">
                        <p class="mb-0">Confirm changes to apply new password</p>
                      </div>
                    </div>
                  </form>
                  <form class="form" [formGroup]="dateForm">
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3" id="date">
                        <div class="mb-2"><h4>Change date of birth</h4></div>
                        <div class="row">
                          <div class="col d-flex justify-content-start">
                            <input type="text" 
                            class="form-control mb-3" 
                            placeholder="Datepicker" 
                            [bsConfig]="bsConfig" 
                            bsDatepicker 
                            formControlName="dateOfBirth" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary mt-3" type="submit" [disabled]="!dateForm.valid" (click)="changeDateOfBirth()" >Change date of birth</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="dateForm.dirty">
                      <div class="alert alert-info col mt-3 text-center">
                        <p class="mb-0">Confirm changes to apply new date of birth</p>
                      </div>
                    </div>
                  </form>
                  <form class="form" [formGroup]="profileForm">
                    <div class="row" id="moreInfo">
                        <div class="col">
                            <div class="mb-2"><h4>More personal informations</h4></div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>Name</label>
                                  <input class="form-control" type="text" name="name" placeholder="Name" formControlName="name">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label>Surname</label>
                                  <input class="form-control" type="text" name="surname" placeholder="Surname" formControlName="surname">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label>City</label>
                                  <input class="form-control" type="text" placeholder="City" formControlName="city">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col mb-3">
                                <div class="form-group">
                                  <label>About me</label>
                                  <textarea class="form-control" rows="5" placeholder="Our greatest glory is not never falling..." formControlName="aboutMe"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Country</label>
                                    <input class="form-control" type="text" placeholder="Country" formControlName="country">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Company</label>
                                    <input class="form-control" type="text" placeholder="Company" formControlName="company">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>School</label>
                                    <input class="form-control" type="text" placeholder="School" formControlName="school">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col mb-3">
                                  <div class="form-group">
                                    <label>My Interests</label>
                                    <textarea class="form-control" rows="5" placeholder="My interests" formControlName="myInterests"></textarea>
                                  </div>
                                </div>
                              </div>
                        </div>
                      </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid" (click)="saveChanges()" >Save Changes</button>
                      </div>
                    </div>
                    <div class="row" *ngIf="profileForm.dirty">
                      <div class="alert alert-info col mt-3 text-center">
                        <p class="mb-0">Confirm changes to apply</p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</div>
