.post-img {
    min-height: 30px;
    min-width: 30px;
    max-height: 60px;
    max-width: 60px;
}

.background-top {
    background-image: url("https://cdn.pixabay.com/photo/2019/06/07/12/27/texture-4258163_960_720.jpg");
    background-position: center;
    height: 300px;
    text-align: center;
}

#user-photo {
    height: 200px;
    width: 200px;
    margin-top: 175px;
}

.background-bottom {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
}

#posts ,#profile, #messages{
    background-color: #d7d7c1;
    width: 80px;
    height: 80px;
}


#posts:hover ,#profile:hover, #messages:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.description{
    font-weight: bold;
}

@media all and (min-width: 901px) {

    #user-name {
        font-size: 40px;
    }
    .post-header {
        font-size: 20px;
    }
    #posts ,#profile, #messages{
        width: 80px;
        height: 80px;
    }
}

@media all and (min-width: 601px) and (max-width: 900px) {
    .background-bottom {
        font-size: 45px;
    }
    #user-name {
        font-size: 35px;
    }
    .post-header {
        font-size: 18px;
    }
    #posts ,#profile, #messages{
        width: 70px;
        height: 70px;
    }
}
    
@media all and (max-width: 600px) {
    .background-bottom {
        font-size: 40px;
    }   
    #user-name {
        font-size: 28px;
    }
    .post-header {
        font-size: 16px;
    }
    #posts ,#profile, #messages{
        width: 65px;
        height: 65px;
    }
}
    