<div class="container-fluid">
    <div class="row  d-flex justify-content-center">
        <div class="col-10 col-md-8 ">
            <div class="card shadow my-4">
                <div class="background-top">
                    <img src="{{user.photoUrl}}" alt="" class="rounded-circle" id="user-photo">
                </div>
                <div class="background-bottom text-center">
                    <div class="row mb-2">
                        <div class="col">
                            <h2 id="user-name">{{user.name}} {{user.surname}}</h2>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-3 d-flex justify-content-center">
                            <div class="rounded-circle" id="profile" (click)="menu(0)">
                                <i class="fa fa-user " aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            <div class="rounded-circle" id="posts" (click)="menu(1)">
                                <i class="fa fa-columns" aria-hidden="true"></i>
                            </div>
                            
                        </div>
                        <div class="col-3 d-flex justify-content-center" *ngIf="!isMe">
                            <div class="rounded-circle" id="messages" (click)="createModal(modalTemplate)">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                            </div>
                        </div> 
                    </div>
                </div>
                <div *ngIf="visible[0]">
                    <div class="row mb-3 mt-5">
                        <div class="col"></div>
                        <div class="col-4 pb-1 border-bottom description">
                            <p>Email</p>
                        </div>
                        <div class="col-5 pb-1 border-bottom">
                            {{user.email}}
                        </div>
                        <div class="col"></div>
                    </div>
                    
                    <div class="row mb-3 mt-3">
                        <div class="col"></div>
                        <div class="col-4 pb-1 border-bottom description">
                            <p>Date of birth</p>
                        </div>
                        <div class="col-5 pb-1 border-bottom">
                            {{user.dateOfBirth | date}}
                        </div>
                        <div class="col"></div>
                    </div>
    
                    <div class="row mb-3">
                        <div class="col"></div>
                        <div class="col-4 pb-1 border-bottom description">
                            <p>City</p>
                        </div>
                        <div class="col-5 pb-1 border-bottom">
                            {{user.city}}
                        </div>
                        <div class="col"></div>
                    </div>
    
                    <div class="row mb-3">
                        <div class="col"></div>
                        <div class="col-4 pb-1 border-bottom description">
                            <p>Country</p>
                        </div>
                        <div class="col-5 pb-1 border-bottom">
                            {{user.country}}
                        </div>
                        <div class="col"></div>
                    </div>
    
                    <div class="row mb-3">
                        <div class="col"></div>
                        <div class="col-4 pb-1 border-bottom description">
                            <p>Company</p>
                        </div>
                        <div class="col-5 pb-1 border-bottom">
                            {{user.company}}
                        </div>
                        <div class="col"></div>
                    </div>
    
                    <div class="row mb-3">
                        <div class="col"></div>
                        <div class="col-4 pb-1 border-bottom description">
                            <p>School</p>
                        </div>
                        <div class="col-5 pb-1 border-bottom">
                            {{user.school}}
                        </div>
                        <div class="col"></div>
                    </div>
    
                    <div class="row mb-3">
                        <div class="col"></div>
                        <div class="col-4 pb-1 border-bottom description">
                            <p>About me</p>
                        </div>
                        <div class="col-5 pb-1 border-bottom">
                            {{user.aboutMe}}
                        </div>
                        <div class="col"></div>
                    </div>
    
                    <div class="row mb-3">
                        <div class="col"></div>
                        <div class="col-4 description">
                            <p>My interests</p>
                        </div>
                        <div class="col-5">
                            {{user.myInterests}}
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    *ngIf="visible[1] && postsRecieved()"
    >
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-8" *ngFor="let post of allpost">
            
                <div class="card shadow my-4">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-2 post-img ml-3 mr-2 px-0 justify-content-center">
                            <img src="{{post.user.photoUrl}}" alt="" class="img-fluid rounded-circle">
                        </div>
                        <div class="col post pl-0">
                            <h5 class="post-header">{{post.user.name}} {{post.user.surname}}</h5>
                            <p class="post-header">{{post.dateOfCreation | date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text">{{post.text}}</p>
                        </div>
                    </div>
                </div>
                    <img class="card-img-bottom" src="{{post.photo}}" alt="img">
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #modalTemplate>
    <div class="modal-header bg-light">
      <h4 class="modal-title pull-left">Send message to {{user.name}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-light">
        <form (ngSubmit)="sendMessage()" class="bg-light">
            <textarea name="Text1" cols="40" rows="5" [(ngModel)]="content" placeholder="Type a message" class="message-textarea"></textarea>
            <button  type="submit" class="btn btn-success">Send message</button>
        </form>
        <alert *ngIf="emptyMessage" type="danger mt-2 text-center">
            <strong>Warning!</strong> You can't send empty message!
        </alert>
    </div>
</ng-template>