<div class="container-fluid">
    <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    >
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-8" *ngFor="let post of allpost">
            
                <div class="card shadow my-4">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-2 post-img ml-3 mr-2 px-0 justify-content-center">
                            <img src="{{post.user.photoUrl}}" alt="" class="img-fluid rounded-circle">
                        </div>
                        <div class="col post pl-0">
                            <h5 class="post-header">{{post.user.name}} {{post.user.surname}}</h5>
                            <p class="post-header">{{post.dateOfCreation | date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text">{{post.text}}</p>
                        </div>
                    </div>
                </div>
                    <img class="card-img-top" src="{{post.photo}}" alt="img">
                </div>

            </div>
        </div>
    </div>

</div>