.post-img {
    min-height: 30px;
    min-width: 30px;
    max-height: 60px;
    max-width: 60px;
}

@media all and (min-width: 001px) {
    .post-header {
        font-size: 20px;
    }
}

@media all and (min-width: 601px) and (max-width: 900px) {
    .post-header {
        font-size: 18px;
    }
}
    
@media all and (max-width: 600px) {
    .post-header {
        font-size: 16px;
    }
}
    